<article class="post-np-item">
    {{#if feature_image}}
    <div class="post-np-img" style="background-image: url({{feature_image}})">
    </div>
    {{else}}
    <div class="post-np-img" style="background-image: url({{asset "img/placeholder.jpg"}})">
    </div>
    {{/if}}
    <a class="permalink-overlay" href="{{url}}"></a>

    <span class="post-nav-next">
        {{t "Next post"}}
    </span>

    <div class="post-np-content-wrap">
        <h3 class="post-np-title">{{title}}</h3>
        <span class="reading-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
        {{#foreach tags}}
        <span class="post-item-tag tag-{{slug}}"><a href="{{url}}">{{name}}</a></span>
        {{/foreach}}
    </div>

</article>