{{!< default}}

{{#post}}

<main class="site-main">
    <article
        class="post-full {{post_class}} {{#has tag='#noimg'}}no-image{{else}}{{#unless feature_image}}no-image{{/unless}}{{/has}}">
        <div class="post-full-header">
            <div class="post-full-cover" style="background-image: url({{feature_image}})">
            </div>
            <div class="post-full-text">
                <div class="post-full-meta">
                    <time class="post-full-meta-date"
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY, MMM Do"}}</time>
                </div>
                <h1 class="post-full-title">{{title}}</h1>
                {{#foreach tags}}
                <span class="post-item-tag tag-{{slug}}"><a href="{{url}}">{{name}}</a></span>
                {{/foreach}}
            </div>
        </div>
    </article>

    <div class="inner-wide">
        <section class="post-full-content">
            <div class="post-content">
                {{content}}
            </div>
        </section>
        {{> post-footer}}
    </div>
</main>

{{/post}}